
input, select, textarea {
    border: 2px solid var(--color-accent-primary);
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-primary-text);
    font-family: inherit;
    font-size: inherit;
}

input:invalid, select:invalid {
    border-color: var(--color-error);
}
input:focus, select:focus {
    border-color: var(--color-accent-secondary);
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}