:root {
  --color-primary-text: #ffffff;
  --color-secondary-text: #CCCCCC;
  --color-background: #001220;
  --color-accent-primary: #0066FF;
  --color-accent-secondary: #B635D7;
  --color-error: red;

  color: var(--color-primary-text);
  background-color: var(--color-background);
}

* {
  outline:none !important;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

#app {
  padding: 14px;
}